<h1 class="h1-left">Soutenir un besoin</h1>

<div class="search">

    <div class="box-conx-inp">
        <button><i class="bi bi-chevron-down"></i></button>
        <select (change)="changeRegion($event)">
            <option value="" selected disabled>Type de besoin</option>
            <option [value]="reg.name" *ngFor="let reg of region">{{reg.name}}</option>
        </select>
    </div>
    
    <div class="box-conx-inp">
        <button><i class="bi bi-chevron-down"></i></button>
        <select>
            <option value="" selected disabled>Secteur d'activité</option>
            <option [value]="secteur" *ngFor="let secteur of secteurs">{{secteur}}</option>
        </select>

    </div>
    
    <!-- <div class="box-conx-inp">
        <button><i class="bi bi-chevron-down"></i></button>
        <select (change)="changeProvince($event)">
            <option value="" selected disabled>Province</option>
            <option [value]="prov" *ngFor="let prov of province">{{prov}}</option>
        </select>
    </div> -->

    <div class="box-conx-inp">
        <button><i class="bi bi-chevron-down"></i></button>
        <select (change)="changeRegion($event)">
            <option value="" selected disabled>Région</option>
            <option [value]="reg.name" *ngFor="let reg of region">{{reg.name}}</option>
        </select>
    </div>

    <div class="box-conx-inp">
        <button><i class="bi bi-chevron-down"></i></button>
        <select (change)="changeDistrict($event)">
            <option value="" selected disabled>District</option>
            <option [value]="dis.libelle" *ngFor="let dis of district">{{dis.libelle}}</option>
        </select>
    </div>

    <div class="box-conx-inp">
        <button><i class="bi bi-chevron-down"></i></button>
        <select (change)="changeCommune($event)">
            <option value="" selected disabled>Commune </option>
            <option [value]="com.name" *ngFor="let com of commune">{{com.name}}</option>
        </select>
    </div>

    <!-- <div class="box-conx-inp">
        <button><i class="bi bi-chevron-down"></i></button>
        <select>
            <option value="" selected disabled>Fonkotany</option>
            <option [value]="fok.name" *ngFor="let fok of fokontany">{{fok.name}}</option>
        </select>
    </div> -->
</div>



<div class="search_loading flex-center" *ngIf="loading">
    <app-loading [color]="'pink'"></app-loading>
</div>

<div class="block-resulat " *ngIf="!loading">

    <div class="mb_20 p-left-20 text-20 flex-space-simple">
        <div>
            <span *ngIf="data.length > 0">{{total}} résultat<span *ngIf="total > 1">s</span> trouvé<span
                    *ngIf="total > 1">s</span> </span>
            <span *ngIf="data.length == 0">Aucun résultat trouvé </span>
        </div>
        <button class="bout_filtre pointer" (click)="affFiltre()" [ngClass]="{'bout_filtre_active': filtre}">
            <i class="bi bi-filter m-right-20"></i> Filtre
        </button>
    </div>

    <div class="resultat flex-space-simple">
        <div class="Bliste">
            <div class="block-liste" *ngIf="!loading_filtre">
                <div *ngFor=" let receiver of data" class="liste">
                    <div class="receiver">
                        <div class="box-content" (click)="viewProfil(receiver.id)">
                            <div class="content">
                                <!-- <div class="b-profil">
                                    <div class="profil">
                                        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="">
                                    </div>
                                </div> -->
                                <div class="contenu">
                                    <!-- <span class="rec_name">{{receiver.denomination}} <span class="c_gray"> → </span>  {{receiver.Type}} </span >
                                    <div class="flex-space-simple">
                                        <span class="c_gray">{{receiver.Adresse}} </span>
                                        <span class="c_gray">50 xxxx</span>
                                    </div> -->

                                    <span class="rec_name">Need xxx {{receiver.addresse}}</span>
                                    <div class="flex-space-simple">
                                        <span class="c_gray">{{receiver.fullName}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="icone_02">
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="search_loading flex-center" *ngIf="loading_filtre">
                <app-loading [color]="'pink'"></app-loading>
            </div>
        </div>

        <div class="filtre" *ngIf="filtre">
            <div style="margin-bottom: 40px;">

                <div class="box-conx-inp">
                    <button><i class="bi bi-chevron-down"></i></button>
                    <select (change)="changeRegion($event)">
                        <option value="" selected disabled>Type de besoin</option>
                        <option [value]="reg.name" *ngFor="let reg of region">{{reg.name}}</option>
                    </select>
                </div>

                <div class="box-conx-inp">
                    <button><i class="bi bi-chevron-down"></i></button>
                    <select>
                        <option value="" selected disabled>Secteur d'activité</option>
                        <option [value]="secteur" *ngFor="let secteur of secteurs">{{secteur}}</option>
                    </select>
                </div>

                <div class="box-conx-inp">
                    <button><i class="bi bi-chevron-down"></i></button>
                    <select (change)="changeProvince($event)">
                        <option value="" selected disabled>Province</option>
                        <option [value]="prov" *ngFor="let prov of province">{{prov}}</option>
                    </select>

                </div>

                <div class="box-conx-inp">
                    <button><i class="bi bi-chevron-down"></i></button>
                    <select (change)="changeRegion($event)">
                        <option value="" selected disabled>Région</option>
                        <option [value]="reg.name" *ngFor="let reg of region">{{reg.name}}</option>
                    </select>
                </div>

                <div class="box-conx-inp">
                    <button><i class="bi bi-chevron-down"></i></button>
                    <select (change)="changeDistrict($event)">
                        <option value="" selected disabled>District</option>
                        <option [value]="dis.libelle" *ngFor="let dis of district">{{dis.libelle}}</option>
                    </select>
                </div>

                <div class="box-conx-inp">
                    <button><i class="bi bi-chevron-down"></i></button>
                    <select (change)="changeCommune($event)">
                        <option value="" selected disabled>Commune </option>
                        <option [value]="com.name" *ngFor="let com of commune">{{com.name}}</option>
                    </select>
                </div>

                <!-- <div class="box-conx-inp">
                    <button><i class="bi bi-chevron-down"></i></button>
                    <select>
                        <option value="" selected disabled>Fonkotany</option>
                        <option [value]="fok.name" *ngFor="let fok of fokontany">{{fok.name}}</option>
                    </select>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Pagination  -->

    <div class="pagination">
        <div>
            <button (click)="previousPagination() " [disabled]="pointerPage == 1"
                [ngClass]="{'active_nextPrev':pointerPage !== 1}"> <span class="pc">Précèdent</span><span
                    class="mobile"><i class="bi bi-chevron-left"></i></span>
            </button>

            <span class="pagination-btn">
                <button *ngFor='let page of paginationTab ; let i = index' (click)="changePagePagination(i+1)"
                    [ngClass]="{'active': i+1 === pointerPage}">
                    <span> {{i+1}} </span>
                </button>
            </span>

            <button (click)="nextPagination()" [disabled]="pointerPage == nb_pagination"
                [ngClass]="{'active_nextPrev':pointerPage !== nb_pagination}"><span class="pc">Suivant </span><span
                    class="mobile"><i class="bi bi-chevron-right"></i></span>
            </button>
        </div>
        <div style="margin: 15px 30px 0px 30px;">
            <span>page {{pointerPage}} sur {{nb_pagination}}</span>
        </div>
    </div>
    <br>


</div>