

<div class="head">
    <div class="head-content">
        
        <div class="box-head-content">
            
            <div style="z-index: 1;">
                <div class="box-titre">
                    <h1 class="h1-left">xxxxx xxxx xxxxxx xxxxx xxxxxxx xx</h1>
                    <p class="c_gray text-20">Ensemble, tendons la main à ceux qui en ont le plus besoin. Nous pouvons apporter un sourire et un avenir meilleur à chaque enfant en difficulté</p>
                </div>
                <div class="search ground_white  rad-15 pad_20">
                    <form [formGroup]="search_form" (ngSubmit)="search()">
                    <div class="box-search flex-space">
                            <div>
                                <input type="text" placeholder="Recherche , nom , region ..." formControlName="search_text" [(ngModel)]="search_text">
                            </div>
                            <!-- <div class="search-region">
                                <i class="bi bi-geo-alt-fill"></i>
                                <input type="text" placeholder="xxxxxx , xxxxxxx , ..." formControlName="map" [(ngModel)]="map">
                            </div> -->
                            <button class="pointer" >Recherche</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="apport">
    <div class="block-apport flex-space-simple">
        <div class="box-image-apport">
            <div class="image-apport rad-15 flex-center relative">
                <img src="/assets/images/image8.png" alt="" srcset="" class="mb_30">
            </div>
            <!-- <div class="blobcss" style="position: absolute;"></div> -->
        </div>
        <div class="apport-contenu">
            <h1 class="h1-left">xxxxx xxxx xxxxxxx xxxx xxxx xxxxx xxxxxx</h1><br>
            <div class="flex-start mb_30">
                <div class="box-ico flex-center m-right-20 bg-violet">
                    <!-- <i class="bi bi-currency-exchange"></i> -->
                    <img src="assets/images/svg/fruit.svg" width="100%">
                </div>
                <div style="width: 80%;">
                    <h3>xxxxxxxxx</h3>
                    <p class="c_gray">xxxxxxx xxxxxxx xxxxxx xxxxx xxxx xxxxxx xxxx xxxxxx xxxxx xxx xxxxxx xx</p>
                </div>
            </div>
            <div class="flex-start mb_30">
                <div class="box-ico flex-center m-right-20 bg-pink">
                    <!-- <i class="bi bi-cart4"></i> -->
                    <img src="assets/images/svg/products.svg" width="100%">
                </div>
                <div style="width: 80%;">
                    <h3>xxxxxxxxx</h3>
                    <p class="c_gray">xxxxxxx xxxxxxx xxxxxx xxxxx xxxx xxxxxx xxxx xxxxxx xxxxx xxx xxxxxx xx</p>
                </div>
            </div>
            <!-- <div class="flex-start mb_30">
                <div class="box-ico flex-center m-right-20 bg-jaune"><i class="bi bi-hammer"></i></div>
                <div style="width: 80%;">
                    <h3>xxxxxxxxx</h3>
                    <p class="c_gray">xxxxxxx xxxxxxx xxxxxx xxxxx xxxx xxxxxx xxxx xxxxxx xxxxx xxx xxxxxx xx</p>
                </div>
            </div> -->

            <div class="mobile-image-contenu">
                <img src="/assets/images/image8.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div>

<!-- <div class="block-extrait">

    <div>
        

        <div class="extrait ">
            <h1 class="h1-left">xxxxxxxxxx xxxxxxxxxx <br> xxxxxxx xxxxxxxxxxxx</h1>
            <div class="block-activite flex-space" style="margin-top: 70px;">
                <div class="box-activite">
                    <div class="image-activite rad-15"></div>
                    <span class="c_gray">xxxxxx xx xx xxxxxxxxxxxxx xxxxx xxxxxx  xxxxxxxxxx xxxxxx  xx  xxx xxxx xxxxxxxxxxxx  x xx  xx xx xx x  x xxxxxxxxx xxxxxxx</span>
                </div>
                <div class="box-activite">
                    <div class="image-activite rad-15"></div>
                    <span class="c_gray">xxxxxx xx xx xxxxxxxxxxxxx xxxxx xxxxxx  xxxxxxxxxx xxxxxx  xx  xxx xxxx xxxxxxxxxxxx  x xx  xx xx xx x  x xxxxxxxxx xxxxxxx</span>
                </div>
                <div class="box-activite">
                    <div class="image-activite rad-15"></div>
                    <span class="c_gray">xxxxxx xx xx xxxxxxxxxxxxx xxxxx xxxxxx  xxxxxxxxxx xxxxxx  xx  xxx xxxx xxxxxxxxxxxx  x xx  xx xx xx x  x xxxxxxxxx xxxxxxx</span>
                </div>
                <div class="box-activite">
                    <div class="image-activite rad-15"></div>
                    <span class="c_gray">xxxxxx xx xx xxxxxxxxxxxxx xxxxx xxxxxx  xxxxxxxxxx xxxxxx  xx  xxx xxxx xxxxxxxxxxxx  x xx  xx xx xx x  x xxxxxxxxx xxxxxxx</span>
                </div>
            </div>
            <div style="margin-top: 70px;">
                <button class="bout_carre bout_pink " style="padding: 15px 50px;"> <span> Voir plus</span> <span><i class="bi bi-arrow-right m-left-30"></i></span></button>
           </div>
        </div>

    </div>

</div> -->


<div class="pre-footer m_center pad_20 rad-15 flex-around">
    <div class="pre-footer-text">
        <h2 class="mb_20">S'inscrire en tant que donneur</h2>
        <p class="c_gray">xxxxxx xx xx xxxxxxxxxxxxx xxxxx xxxxxx  xxxxxxxxxx xxxxxx  xx <br>  xxx xxxx xxxxxxxxxxxx  x xx  xx xx xx x  x xxxxxxxxx xxxxxxx</p>
    </div>
    <button class="bout_carre bout_pink" >S'inscrire</button>
    <div class="pre-footer-image">
        <img src="/assets/images/prefooter.png" alt="">
    </div>
    
</div>