<div class="block_connexion">
    <h1><span>Comment souhaitez-vous vous inscrire ? </span></h1>
    <div class="box-conx">
        <div class="conx">
            <span>Continuer avec Facebook</span>
            <div>
                <span class="ico-facebook"><i class="bi bi-facebook"></i></span>
                <span><i class="bi bi-chevron-right"></i></span>
            </div>
        </div>
    </div>
    <div><hr></div>
    <div class="box-conx" (click) = "registerEmail()">
        <div class="conx">
            <span>Continuer avec une adresse email</span>
            <div><span><i class="bi bi-chevron-right"></i></span></div>
        </div>
    </div>

    <div class="deja_membre">
        <div> <span>Déja membre ?</span> <span (click) = "login()" class="c_pink"> Connexion</span></div>
    </div>

    <div class="condition">
        <p>
            En vous inscrivant, vous acceptez nos <span class="c_h_pink"> Conditions générales</span>  et notre <span class="c_pink">Politique de confidentialité</span> .
        </p>
        <p>
            Vous avez des droits concernant vos données personnelles et vous pouvez les exercer en contactant BlaBlaCar par le biais de notre <span class="c_pink">Formulaire de contact</span> . Vous pouvez en apprendre davantage sur vos droits et la manière dont nous traitons vos données personnelles dans notre <span class="c_pink">Politique de confidentialité</span> .
        </p>
        <p>
            Vous pouvez modifier vos <span class="c_pink">Paramètres des cookies</span>  à tout moment.
        </p>
    </div>
    
</div>