.block_compte{
    width: var(--mesure_auth);
    margin: 20px auto;
}

hr {
    width: var(--mesure_auth);
    height: 1px;
    border: none;
    border-bottom: var(--border);
    margin:10px auto;
}

.mdp i {
    font-size: 20px;
    cursor: pointer;
}

// ** Eyes **

.button-eye {
    position: absolute;
    right: 20px;
    top: 15px;
    border: none;
  }


  @media only screen and (max-width: 700px) {

    .mobi-block{
        display: block;
    }
}