<div class="block_tunnel">

    <div class="flex-end-simple">
        <div class="retour_tunnel" (click)="retour()"><i class="bi bi-arrow-left"></i></div>
    </div>


    <div class="block-etape" *ngIf="etape == 0">
        <h1><span>Type Giver ?</span></h1>
        <div class="box-conx" (click)="choseType(1)">
            <div class="conx">
                <span>Professionnel</span>
                <div><span><i class="bi bi-chevron-right"></i></span></div>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="box-conx" (click)="choseType(2)">
            <div class="conx">
                <span>Particulier</span>
                <div><span><i class="bi bi-chevron-right"></i></span></div>
            </div>
        </div>
    </div>



    <!-- Proffessionnel -->

    <div class="block-etape" *ngIf="type == 1 && etape == 1">
        <h1><span>Dénomination et domaine d'activité ?</span></h1>
        <form [formGroup]="pro_denomination_form" (ngSubmit)="pro_denomination_Submit(2)">
            <div class="box-conx-inp">
                <input type="text" placeholder="Dénomination" formControlName="denomination"
                    [(ngModel)]="register.denomination" />
            </div>

            <div class="box-conx-inp">
                <input type="text" placeholder="Domaine d'activité" formControlName="secteur"
                    [(ngModel)]="register.secteur" />
            </div>

            <div class="button">
                <button type="submit" [disabled]="pro_denomination_form.invalid" class="bout"
                    [ngClass]="{'bout_pink': !pro_denomination_form.invalid , 'bout_pink_disabled':pro_denomination_form.invalid}">Continuer</button>
            </div>
        </form>
    </div>

    <!--  Pays  et Region-->
    <div class="block-etape" *ngIf="type == 1 && etape == 2">
        <h1><span>Veuillez indiquer votre adresse</span></h1>
        <form [formGroup]="pro_region_form" (ngSubmit)="pro_region_Submit(3)">

            <div class="box-conx-inp">
                <span><i class="bi bi-chevron-down"></i></span>
                <select formControlName="pays" (change)="changePays($event)">
                    <option value="Madagascar" selected  >Madagascar</option>
                    <option [value]="nation.name" *ngFor="let nation of pays">{{nation.name}}</option>
                </select>
            </div>

            <div *ngIf = "mada_adresse">
                <div class="box-conx-inp">
                    <span><i class="bi bi-chevron-down"></i></span>
                    <select formControlName="province" (change)="changeProvince($event)">
                        <option value="" selected disabled>Province</option>
                        <option [value]="prov" *ngFor="let prov of province">{{prov}}</option>
                    </select>
                </div>

                <div class="box-conx-inp">
                    <span><i class="bi bi-chevron-down"></i></span>
                    <select formControlName="region" (change)="changeRegion($event)">
                        <option value="" selected disabled>Région</option>
                        <option [value]="reg.name" *ngFor="let reg of region">{{reg.name}}</option>
                    </select>
                </div>


                <div class="box-conx-inp">
                    <span><i class="bi bi-chevron-down"></i></span>
                    <select formControlName="district" (change)="changeDistrict($event)">
                        <option value="" selected disabled>District</option>
                        <option [value]="dis.libelle" *ngFor="let dis of district">{{dis.libelle}}</option>
                    </select>
                </div>

                <div class="">
                    <div class="box-conx-inp">
                        <span><i class="bi bi-chevron-down"></i></span>
                        <select formControlName="commune" (change)="changeCommune($event)">
                            <option value="" selected disabled>Commune </option>
                            <option [value]="com.name" *ngFor="let com of commune">{{com.name}}</option>
                        </select>
                    </div>
                    <div class="box-conx-inp">
                        <span><i class="bi bi-chevron-down"></i></span>
                        <select formControlName="fokotany">
                            <option value="" selected disabled>Fonkotany</option>
                            <option [value]="fok.name" *ngFor="let fok of fokontany">{{fok.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="box-conx-inp">
                <input type="text" placeholder="Adresse : * Facultatif" formControlName="adresse"
                    [(ngModel)]="register.adresse" />
            </div>


            <div class="button">
                <button type="submit"  class="bout "
                [ngClass]="{'bout_pink': !pro_region_form.invalid || !mada_adresse }" >Continuer</button>
            </div>
        </form>
    </div>

    <!--  Mot de Passe -->
    <div class="block-etape" *ngIf="type == 1 && etape == 3">
        <h1><span>Définissez votre mot de passe</span></h1>

        <p class="text-mdp">
            Il doit comporter au moin 8 caractères dont 1 lettre , 1 chiffre et 1 caractère spécial.
        </p>
        <form [formGroup]="pro_mdp_form" (ngSubmit)="pro_mdp_Submit(4)">
            <div class="box-conx-inp relative">
                <input type="{{ showPassword1 ? 'text' : 'password' }}" placeholder="Mot de passe" formControlName="mdp"
                    [(ngModel)]="register.mdp" />
                <span class="button-eye pointer " (click)="showPassword1 = !showPassword1"
                    style="display: block; position: absolute; top: 20px;right: 20px">
                    <i *ngIf="!showPassword1" class="bi bi-eye" aria-hidden="true"></i>
                    <i *ngIf="showPassword1" class="bi bi-eye-slash" aria-hidden="true"></i>
                </span>
            </div>
            <div class="button">
                <button type="submit" [disabled]="pro_mdp_form.invalid" class="bout"
                    [ngClass]="{'bout_pink': !pro_mdp_form.invalid , 'bout_pink_disabled':pro_mdp_form.invalid}">Continuer</button>
            </div>
        </form>
    </div>

    <!-- Verif numero -->
    <div class="block-etape" *ngIf="type == 1 && etape == 4">
        <h1><span>Numéro de téléphone</span></h1>
        <!-- {{register.num}} -->
        <form [formGroup]="pro_num_form" (ngSubmit)="pro_num_Submit()">
            <div class="box-conx-num">
                <div class="">
                    <span>+ 261</span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </div>
                <input #myInput (input)="numberValidation($event)" type="number" placeholder="Numéro de téléphone"
                    formControlName="num" [(ngModel)]="register.num" />
            </div>

            <div class="button">
                <button type="submit" [disabled]="!num_validation" class="bout"
                    [ngClass]="{'bout_pink': num_validation , 'bout_pink_disabled':!num_validation}">
                    <app-loading *ngIf="send_loading"></app-loading>
                    Creer compte
                </button>
            </div>
        </form>
    </div>


    <!-- PARTICULIER -->



    <!-- Particulier Nom -->
    <div class="block-etape" *ngIf="type == 2 && etape == 1">
        <h1><span>Comment vous appelez-vous ?</span></h1>
        <form [formGroup]="particulier_nom_form" (ngSubmit)="particulier_nom_Submit(2)">
            <div class="box-conx-inp">
                <input type="text" placeholder="Nom" formControlName="nom" [(ngModel)]="register.nom" />
            </div>

            <div class="box-conx-inp">
                <input type="text" placeholder="Prénom" formControlName="prenom" [(ngModel)]="register.prenom" />
            </div>

            <!-- <div class="box-conx-inp">
                <input type="text" placeholder="Situation Professionnel" formControlName="professionnalSituation" [(ngModel)]="register.professionnalSituation"/>
            </div> -->

            <div class="button">
                <button type="submit" [disabled]="particulier_nom_form.invalid" class="bout"
                    [ngClass]="{'bout_pink': !particulier_nom_form.invalid , 'bout_pink_disabled':particulier_nom_form.invalid}">Continuer</button>
            </div>
        </form>
    </div>


    <!-- Particulier Adresse -->

    <div class="block-etape" *ngIf="type == 2 && etape == 2">
        <h1><span>Veuillez indiquer votre adresse</span></h1>
        <form [formGroup]="particulier_adresse_form" (ngSubmit)="particulier_adresse_Submit(3)">

            <div class="box-conx-inp">
                <span><i class="bi bi-chevron-down"></i></span>
                <select formControlName="pays" (change)="changePays($event)">
                    <option value="Madagascar" selected  >Madagascar</option>
                    <option [value]="nation.name" *ngFor="let nation of pays">{{nation.name}}</option>
                </select>
            </div>

            <div *ngIf = "mada_adresse">
                <div class="box-conx-inp">
                    <span><i class="bi bi-chevron-down"></i></span>
                    <select formControlName="province" (change)="changeProvince($event)">
                        <option value="" selected disabled>Province</option>
                        <option [value]="prov" *ngFor="let prov of province">{{prov}}</option>
                    </select>
                </div>

                <div class="box-conx-inp">
                    <span><i class="bi bi-chevron-down"></i></span>
                    <select formControlName="region" (change)="changeRegion($event)">
                        <option value="" selected disabled>Région</option>
                        <option [value]="reg.name" *ngFor="let reg of region">{{reg.name}}</option>
                    </select>
                </div>


                <div class="box-conx-inp">
                    <span><i class="bi bi-chevron-down"></i></span>
                    <select formControlName="district" (change)="changeDistrict($event)">
                        <option value="" selected disabled>District</option>
                        <option [value]="dis.libelle" *ngFor="let dis of district">{{dis.libelle}}</option>
                    </select>
                </div>

                <div class="">
                    <div class="box-conx-inp">
                        <span><i class="bi bi-chevron-down"></i></span>
                        <select formControlName="commune" (change)="changeCommune($event)">
                            <option value="" selected disabled>Commune </option>
                            <option [value]="com.name" *ngFor="let com of commune">{{com.name}}</option>
                        </select>
                    </div>
                    <div class="box-conx-inp">
                        <span><i class="bi bi-chevron-down"></i></span>
                        <select formControlName="fokotany">
                            <option value="" selected disabled>Fonkotany</option>
                            <option [value]="fok.name" *ngFor="let fok of fokontany">{{fok.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="box-conx-inp">
                <input type="text" placeholder="Adresse : * Facultatif" formControlName="adresse"
                    [(ngModel)]="register.adresse" />
            </div>


            <div class="button">
                <button type="submit"  class="bout "
                [ngClass]="{'bout_pink': !particulier_adresse_form.invalid || !mada_adresse }" >Continuer</button>
            </div>
        </form>
    </div>


    <!-- Particulier Sexe -->
    <div class="block-etape" *ngIf="type == 2 && etape == 3">
        <h1><span>Comment préférez-vous qu'on vous appelle?</span></h1>
        <div class="box-conx" (click)="particulier_sexe_Submit(4 , 0)">
            <div class="conx" >
                <span>Monsieur</span>
                <div>
                    <span><i class="bi bi-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="box-conx" (click)="particulier_sexe_Submit(4 , 1)">
            <div class="conx">
                <span>Madame</span>
                <div><span><i class="bi bi-chevron-right"></i></span></div>
            </div>
        </div>
    </div>


    <!--  Mot de Passe -->
    <div class="block-etape" *ngIf="type == 2 && etape == 4">
        <h1><span>Définissez votre mot de passe</span></h1>

        <p class="text-mdp">
            Il doit comporter au moin 8 caractères dont 1 lettre , 1 chiffre et 1 caractère spécial.
        </p>
        <form [formGroup]="particulier_mdp_form" (ngSubmit)="particulier_mdp_Submit(5)">
            <!-- <div class="box-conx-inp">
                <input type="password" placeholder="Mot de passe" formControlName="mdp" [(ngModel)]="register.mdp"/>
            </div> -->
            <div class="box-conx-inp relative">
                <input type="{{ showPassword2 ? 'text' : 'password' }}" placeholder="Mot de passe" formControlName="mdp"
                    [(ngModel)]="register.mdp" />
                <span class="button-eye pointer " (click)="showPassword2 = !showPassword2"
                    style="display: block; position: absolute; top: 20px;right: 20px">
                    <i *ngIf="!showPassword2" class="bi bi-eye" aria-hidden="true"></i>
                    <i *ngIf="showPassword2" class="bi bi-eye-slash" aria-hidden="true"></i>
                </span>
            </div>
            <div class="button">
                <button type="submit" [disabled]="particulier_mdp_form.invalid" class="bout"
                    [ngClass]="{'bout_pink': !particulier_mdp_form.invalid , 'bout_pink_disabled':particulier_mdp_form.invalid}">Continuer</button>
            </div>
        </form>
    </div>

    <!-- Verif numero -->
    <div class="block-etape" *ngIf="type == 2 && etape == 5">
        <h1><span>Numéro de téléphone</span></h1>
        <form [formGroup]="particulier_num_form" (ngSubmit)="particulier_num_Submit()">
            <div class="box-conx-num">
                <div class="">
                    <span>+ 261</span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </div>
                <input #myInput (input)="numberValidation($event)" type="number" placeholder="Numéro de téléphone"
                    formControlName="num" [(ngModel)]="register.num" />
            </div>

            <div class="error" *ngIf=""> Une erreur s'est produit , veuillez réesayer</div>

            <div class="button">
                <button type="submit" [disabled]="!num_validation" class="bout"
                    [ngClass]="{'bout_pink': num_validation , 'bout_pink_disabled':!num_validation}">
                    <app-loading *ngIf="send_loading"></app-loading>
                    Creer compte
                </button>
            </div>
        </form>
    </div>

    <!--  Error Messange-->

    <br>
    <div class="error" *ngIf="error">
        {{error}}
    </div>




</div>