<div class="block_connexion">
    <h1><span>Je me connecte </span></h1>
    <div class="box-conx">
        <div class="conx">
            <span>Continuer avec Facebook</span>
            <div>
                <span class="ico-facebook"><i class="bi bi-facebook"></i></span>
                <span><i class="bi bi-chevron-right"></i></span>
            </div>
        </div>
    </div>
    <div><hr></div>
    <div class="box-conx" (click) = "connexionEmail()">
        <div class="conx">
            <span>Continuer avec une adresse email</span>
            <div><span><i class="bi bi-chevron-right"></i></span></div>
        </div>
    </div>

    <div class="pas_membre">
        <div> <span>Pas encore membre ?</span> <span (click) = "register()" class="c_pink"> Inscrivez-vous</span></div>
    </div>
    
</div>