<div>
    
    <h2 class="h2-left">Need Dashbord</h2>
    
    <div class="apercu flex-space-simple">
        <div class="boxa ">
            <div class="flex-space">
                <span class="text-20">Nouveaux besoins</span>
                <span><i class="bi bi-circle-fill"></i></span>
            </div>
            <div class="chiffre">3</div>
        </div>
        <div class="boxa">
            <div class="flex-space">
                <span class="text-20">Besoin resolvés</span>
                <span><i class="bi bi-circle-fill"></i></span>
            </div>
            <div class="chiffre">15</div>
        </div>
    </div>
    
    <div class="activite m-top-20">
        <table>
            <thead>
              <th class="rad_left">Type</th>
              <th >Titre</th>
              <th class="mobil">Date</th>
              <th class="rad_rigth">Etat</th>
            </thead> <br>
            <tbody class="c_gray" >
                <tr (click) = "view()">
                    <td class="flex-start rad_left">
                        Besoin matériels 
                    </td>
                    <td > 
                        <div class="titre">xxxxxxx xxx xxxxx xxxxx </div> 
                    </td>
                    <td class="mobil">10/12/23</td>
                    <td class="rad_rigth"><span class="etat"><i class="bi bi-circle-fill"></i></span></td>
                </tr><br>

                <tr (click) = "view()">
                    <td class="flex-start rad_left">
                        Besoin alimentaires  
                    </td>
                    <td >
                        <div class="titre">xxxxxxx xxx xxxxx xxxxx xxxxx xxxx xxxxxxx xxxx xxxxx xxxx xxxx xxx  xxxxxxxxxxxxxx xxxxx xxxxx  xxxx xcxxx xxx x x  </div> 
                     </td>
                    <td class="mobil">10/12/24</td>
                    <td class="rad_rigth"><span class="etat"><i class="bi bi-circle-fill" style="color: red;"></i></span></td>
                </tr><br>
            </tbody>
          </table>
    </div>
</div>


<br><br>