<div class="block-need-view">

    <div class="box-profil flex-start">
        <div class="profil"></div>
        <h1 class="h1-no-margin">xxxxx xxxxxxxxx xxxx</h1>
    </div>

    <div class="box-image"></div>

    <div class="box-info">
        <div class="box">
            <div class="flex-space-simple">
                <h2 style="margin: 0px; margin-bottom: 20px;">
                    <span>Besoin Materiels</span>
                </h2>
                <span class="c_gray">Etat <i class="bi bi-circle-fill "></i></span>
            </div>

            <span style="display: block; margin-bottom: 10px;"><strong>4 tables pour 8 eleves</strong></span>
            <p class="c_gray">xxxxx xxxx x xxxxxxx xxxxxx xxxxxxxxxx xx x xxxxx xxxx x xxxxxxxx xxxxx xxxxxxxxxx xx x
                xxxxx xxxx x
                xxxxxx xxxxxxx xxxxx xxxxx xx x </p>

            <div class="m-top-20">
                <button class="bout_carre bout_pink"> Je soutient </button>
            </div>
        </div>

        <div class="box m-top-20">
            <div class="mb_20">
                <strong>
                    <span>4</span>
                    <span> Contributeurs</span>
                </strong>
            </div>

            <div>
                <div class="flex-space">
                    <span>Raised</span>
                    <span>Left</span>
                </div>
                <div class="barre">
                    <div class="raised-barre"></div>
                </div>
                <span>65% of xxxx</span>

            </div>
        </div>

    </div>

    <!-- Contributeur  -->

    <div class="contributeur">
        <table>
            <thead>
              <th class="rad_left">Giver</th>
              <th class="th_panier rad_rigth">Panier</th>
            </thead> <br>
            <tbody class="c_gray" >
                <tr>
                    <td class="flex-start rad_left">
                        <div class="profil m-right-10"></div>
                        <div class="name">xxxxxxxx xxxxxxx</div> 
                    </td>
                    <td class="box-panier rad_rigth">
                        <div class="panier">xxxxxxx , xxx xx , xxxx xxxx , xxx xxx , xxxxxxx , xxxxxxx  , xxx xxx xxxxxx ,  xxxx xxx xxx , x xxxx xx xxx  , xxx xx , xxxx xxxx , xxxxxxx , xxx xx , xxxx xxxx , xxx xxx , xxxxxxx , xxx xx , xxxx xxxx </div>
                    </td>
                </tr><br>
                <tr>
                    <td class="flex-start rad_left">
                        <div class="profil m-right-10"></div>
                        <div class="name">xxxx xxxx xxxx xxxxxxxxx xxxxxwx</div>  
                    </td>
                    <td class="box-panier rad_rigth">
                        <div class="panier">xxxxxxx , xxx xx , xxxx xxxx , </div>
                    </td>
                </tr><br>
                <tr>
                    <td class="flex-start rad_left">
                        <div class="profil m-right-10"></div>
                        <div class="name">xxxx xxxx xxxx xxxxxxxxx xxxxxwx</div>  
                    </td>
                    <td class="box-panier rad_rigth">
                        <div class="panier">xxxxxxx , xxx xx , xxxx xxxx , </div>
                    </td>
                </tr><br>
            </tbody>
          </table>
    </div>

    <div class="need_image">
        <div class="box-image2"></div>
        <div class="box-image2"></div>
        <div class="box-image2"></div>
    </div>

    <div class="flex-space-simple">
        <a routerLink = "/user/activite/need" ><button class="bout-black">Retour </button></a> 
        <button class="bout-black">Supprimer besoin </button> 
    </div>
    
    <br> <br>

</div>