<div class="contener-footer" [ngClass] = "{'accueil': accueil}" >
    <div class="footer flex-space-simple">
        <div class="footer-mobi flex-space-simple" style="width: 60%;">
            <div class="mobi-ma">
                <div class="logo" style="width: 160px;" > 
                    <img src="/assets/images/logo.png" alt="" width="100%" >
                </div> <br>
                <!-- <h1 class="h1-no-margin ">Element</h1> <br> -->
                <h3 class="mb_25">Adresse<br> xxxxxx xxxxx xx</h3>
                <p>testmail@gmail.com</p>
            </div>
            <div class="mobi-ma">
                <!-- <h3 class="mb_25">LIEN</h3> -->
                <div class="mb_25">Accueil</div>
                <div class="mb_25">Trouver association</div>
                <div class="mb_25">Nous contacter</div>
                <div class="mb_25">Inscription</div>
            </div>
            <div class="mobi-ma">
                <!-- <h3 class="mb_25">A PROPOS</h3> -->
                <div class="mb_25">Qui sommes-nous ?</div>
                <div class="mb_25">xxxxsxx</div>
                <div class="mb_25">xxxxsxx</div>
            </div>
        </div>
        <div>
            <!-- <h3 class="mb_25">CONTACT</h3> -->
                <div class="mb_25">Nous contacter</div>
                <div class="mb_25">Facebook</div>
                <div class="mb_25">Whatsapp</div>
                <div class="mb_25">+261 347859632</div>
        </div>
    </div>
    
    <div class="bas-page">
    
    </div>
</div>


