<div class="block_donate">
    <h1>Sélectionner le type de don </h1>

    <!-- <div class="donate-link" >
        <div class="dlink" (click) = "donateType(1)">
            <div class="flex-start">
                <span class="icone">
                    <i class="bi bi-currency-dollar"></i>
                </span>
                <span>Dons monétaires</span>
            </div>
            <div><span><i class="bi bi-chevron-right"></i></span></div>
        </div>
    </div> -->

    <!-- <div><hr></div> -->
    <div class="donate-link" >
        <div class="dlink" (click) = "donateType(2)">
            <div class="flex-start">
                <span class="icone"><i class="bi bi-cart4"></i></span>
                <span>Biens matériels</span> 
            </div>
            <div><span><i class="bi bi-chevron-right"></i></span></div>
        </div>
    </div>
    <div class="donate-link" >
        <div class="dlink" (click) = "donateType(3)">
            <div class="flex-start">
                <span class="icone"><i class="bi bi-basket2"></i></span>
                <span>Dons alimentaires</span>
            </div>
            <div><span><i class="bi bi-chevron-right"></i></span></div>
        </div>
    </div>
    <!-- <div class="donate-link" >
        <div class="dlink" (click) = "donateType(4)">
            <div class="flex-start">
                <span class="icone"><i class="bi bi-balloon-heart-fill"></i></span>
                <span>Devenir bénévole</span>
            </div>
            <div><span><i class="bi bi-chevron-right"></i></span></div>
        </div>
    </div>
    <br>

    <div class="view-need-liste mb_20" >
        <div class="dlink" >
            <span>Voir la liste des besoins de l'ass</span>
            <div><span><i class="bi bi-chevron-down"></i></span></div>
        </div>
    </div> -->

    <div class="flex-center">
        <a routerLink = "/user/profil-view" ><button class="bout-black">Retour </button></a> 
    </div>
    
</div>
